.editor-comment-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &.hidden {
        display: none;
    }

    .comment-line-path {
        stroke-linecap: round;
        stroke: #f0a020;
        stroke-width: 1;
        fill: none;
    }
}